In [13]:
import pandas as pd
df_sales =pd.read_csv("walmart.csv")
df_sales

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48
...,...,...,...,...,...,...,...,...,...,...,...
10046,9996,WALM056,Rowlett,Fashion accessories,$37,3.0,03/08/23,10:10:00,Cash,3.0,0.33
10047,9997,WALM030,Richardson,Home and lifestyle,$58,2.0,22/02/21,14:20:00,Cash,7.0,0.48
10048,9998,WALM050,Victoria,Fashion accessories,$52,3.0,15/06/23,16:00:00,Credit card,4.0,0.48
10049,9999,WALM032,Tyler,Home and lifestyle,$79,2.0,25/02/21,12:25:00,Cash,7.0,0.48
10050,10000,WALM069,Rockwall,Fashion accessories,$62,3.0,26/09/20,9:48:00,Cash,3.0,0.33

In [14]:
#removing duplicates
df_sales.drop_duplicates(inplace=True)
df_sales.duplicated().sum()

0

In [15]:
df_sales.shape

(10000, 11)

In [16]:
df_sales.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price         object
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [17]:
df_sales["unit_price"]=df_sales["unit_price"].str.replace(
    "$", "",regex=False).str.replace(
    ",","" , regex=False).astype(float)

In [18]:
df_sales.unit_price.dtype

dtype('float64')

In [19]:
df_sales.describe()

        invoice_id   unit_price     quantity        rating  profit_margin
count  10000.00000  9969.000000  9969.000000  10000.000000   10000.000000
mean    5000.50000    50.622142     2.355602      5.830170       0.393813
std     2886.89568    21.203766     1.605455      1.764097       0.090656
min        1.00000    10.080000     1.000000      3.000000       0.180000
25%     2500.75000    32.000000     1.000000      4.000000       0.330000
50%     5000.50000    51.000000     2.000000      6.000000       0.330000
75%     7500.25000    69.000000     3.000000      7.000000       0.480000
max    10000.00000    99.960000    10.000000     10.000000       0.570000

In [20]:
df_sales["unit_price"].isnull().sum(),df_sales["quantity"].isnull().sum()

(31, 31)

In [21]:
#dropping rows with missing values

In [22]:
df_sales.dropna(inplace=True)

In [23]:
df_sales.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [24]:
df_sales.shape

(9969, 11)

In [25]:
#creating column total

In [26]:
df_sales["Total_price"]=df_sales["unit_price"]*df_sales["quantity"]

In [27]:
df_sales

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,Total_price
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,WALM056,Rowlett,Fashion accessories,37.00,3.0,03/08/23,10:10:00,Cash,3.0,0.33,111.00
9996,9997,WALM030,Richardson,Home and lifestyle,58.00,2.0,22/02/21,14:20:00,Cash,7.0,0.48,116.00
9997,9998,WALM050,Victoria,Fashion accessories,52.00,3.0,15/06/23,16:00:00,Credit card,4.0,0.48,156.00
9998,9999,WALM032,Tyler,Home and lifestyle,79.00,2.0,25/02/21,12:25:00,Cash,7.0,0.48,158.00
9999,10000,WALM069,Rockwall,Fashion accessories,62.00,3.0,26/09/20,9:48:00,Cash,3.0,0.33,186.00

In [28]:
df_sales

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,Total_price
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,WALM056,Rowlett,Fashion accessories,37.00,3.0,03/08/23,10:10:00,Cash,3.0,0.33,111.00
9996,9997,WALM030,Richardson,Home and lifestyle,58.00,2.0,22/02/21,14:20:00,Cash,7.0,0.48,116.00
9997,9998,WALM050,Victoria,Fashion accessories,52.00,3.0,15/06/23,16:00:00,Credit card,4.0,0.48,156.00
9998,9999,WALM032,Tyler,Home and lifestyle,79.00,2.0,25/02/21,12:25:00,Cash,7.0,0.48,158.00
9999,10000,WALM069,Rockwall,Fashion accessories,62.00,3.0,26/09/20,9:48:00,Cash,3.0,0.33,186.00

In [29]:
df_sales.to_csv("walmart_cleaned.csv")

### SQL connection

In [30]:
import pymysql
from sqlalchemy import create_engine

In [31]:
import urllib.parse
from urllib.parse import quote_plus
password = quote_plus("@Ramavtar#290")
engine_mysql=create_engine(f"mysql+pymysql://root:{password}@localhost:3306/walmart_sales_analysis")

In [32]:
connection = engine_mysql.connect()
print("connected")

connected

In [34]:
df_sales.to_sql(name="walmart",con=engine_mysql,if_exists="append",index=False)

9969

In [35]:
df_sales.shape

(9969, 12)

In [ ]:
df.to_sql